<div ng-controller="CadastroProdutoController as vm">
    <sn-crud titulo="Cadastro de produto"
             salvar="vm.salvar()"
             limpar="vm.limpar()"
             excluir="vm.excluir()"
             exibir-botao-excluir="false"
             sn-enter="vm.enter()"
             >
        <div class="row">
            <sn-input-text
                    label="Nome"
                    ng-model="vm.entidade.nome"
                    >
            </sn-input-text>

            <sn-input-text
                    label="Natureza"
                    ng-model="vm.entidade.natureza">
            </sn-input-text>
        </div>
    </sn-crud>
</div>